name: Wpm

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: linux-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
